<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>완료 된 도서</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin/mypage">관리자 페이지</a></li>
                    <li><a href="/admin/book/hope">희망도서 신청 관리</a></li>
                    <li>완료 된 도서</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="container" data-aos="fade-up">
            <div class="container" style="overflow-x:auto;">


                <h2>완료(COMPLETE) 된 도서</h2>
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>희망도서 이름</th>
                        <th>작성일시</th>
                        <th>신청자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bookHope, loop : ${bookHopeCompleteList}">
                        <td th:text="${loop.count}"></td>
                        <td>
                            <a th:href="@{|/admin/book/hope/complete/${bookHope.id}|}" th:text="${bookHope.name}"></a>
                        </td>
                        <td th:text="${#temporals.format(bookHope.regTime, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${bookHope.user.getEmail()}"></td>
                    </tr>
                    </tbody>
                </table><br>


            </div>
        </div>
    </section>


</main><!-- End #main -->


</html>