<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>희망도서 신청 관리</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin/mypage">관리자 페이지</a></li>
                    <li>희망도서 신청 관리</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="container" data-aos="fade-up">
            <div class="container">
                <!-- 이미지 -->
                <div class="row">
                    <div class="card text-center" style="width: 33%;">
                        <div class="card-body">
                            <h5 class="card-title">검토(REVIEW) 중 신청도서</h5>
                            <p th:text="${reviewCnt}" class="card-text"></p>
                            <a href="/admin/book/hope/review" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                    <div class="card text-center" style="width: 33%;">
                        <div class="card-body">
                            <h5 class="card-title">승인(ALLOW) 된 도서</h5>
                            <p th:text="${allowCnt}" class="card-text"></p>
                            <a href="/admin/book/hope/allow" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                    <div class="card text-center" style="width: 33%;">
                        <div class="card-body">
                            <h5 class="card-title">배송(SHIPPING) 중 도서</h5>
                            <p th:text="${shippingCnt}" class="card-text"></p>
                            <a href="/admin/book/hope/shipping" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card text-center" style="width: 33%;">
                        <div class="card-body">
                            <h5 class="card-title">정리(ARRANGE) 중 도서</h5>
                            <p th:text="${arrangeCnt}" class="card-text"></p>
                            <a href="/admin/book/hope/arrange" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                    <div class="card text-center" style="width: 33%;">
                        <div class="card-body">
                            <h5 class="card-title">완료(COMPLETE) 된 도서</h5>
                            <p th:text="${completeCnt}" class="card-text"></p>
                            <a href="/admin/book/hope/complete" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                    <div class="card text-center" style="width: 33%;">
                        <div class="card-body">
                            <h5 class="card-title">거부(REJECT) 된 도서</h5>
                            <p th:text="${rejectCnt}" class="card-text"></p>
                            <a href="/admin/book/hope/reject" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</main><!-- End #main -->


</html>