<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>[Template] Sample Inner Page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">

    <style>
        .fieldError {
            color: #bd2130;
        }

        .content {
            margin-bottom: 100px;
            margin-top: 50px;
            margin-left: 200px;
            margin-right: 200px;
        }
    </style>
</head>
<body>

<!-- Footer-->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>희망도서 신청 관리</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/member/mypage">마이페이지</a></li>
                    <li><a href="/member/mypage/book/hope/list">희망도서 신청</a></li>
                    <li>거절된 희망도서</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content">
            <p class="h2">
                거절 도서 상세 정보
            </p>

            <input type="hidden" name="id" th:field="*{bookHope.id}">

            <div class="input-group mb-3">
                <span class="input-group-text">책이름</span>
                <input type="text" th:field="*{bookHope.name}" class="form-control" placeholder="책이름을 입력해주세요" disabled>
                <span class="input-group-text">ISBN</span>
                <input type="text" th:field="*{bookHope.isbn}" class="form-control" placeholder="ISBN을 입력해주세요" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">저자</span>
                <input type="text" th:field="*{bookHope.author}" class="form-control" placeholder="저자를 입력해주세요" disabled>
                <span class="input-group-text">출판사</span>
                <input type="text" th:field="*{bookHope.publisher}" class="form-control" placeholder="출판사를 입력해주세요"
                       disabled>
                <span class="input-group-text">출판년도</span>
                <input type="text" th:field="*{bookHope.year}" class="form-control" placeholder="출판년도를 입력해주세요" disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">현재상태</span>
                <input th:field="*{bookHope.state}" disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">거절사유</span>
                <input th:field="*{bookHope.failReason}" disabled>
                <span class="input-group-text">거절시간</span>
                <input th:value="${#temporals.format(bookHope.rejectTime, 'yyyy-MM-dd HH:mm')}" disabled>
            </div>

        </div>
    </section>

</main><!-- End #main -->

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>