<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>공지사항</h2>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/member/mypage">마이페이지</a></li>
                    <li>희망도서 신청</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content">
            <div class="container my-3">
                <div style="overflow-x:auto;">
                    <h1>진행중인 희망도서</h1>
                    <table class="table">
                        <thead class="table-dark">
                        <tr>
                            <th>번호</th>
                            <th>책 제목</th>
                            <th>isbn</th>
                            <th>등록일시</th>
                            <th>상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bookhope, loop : ${bookHopeListProgress}">
                            <td th:text="${loop.count}"></td>
                            <td>
                                <a th:href="@{|/member/mypage/book/hope/progress/${bookhope.book_hope_id}|}" th:text="${bookhope.name}"></a>
                            </td>
                            <td th:text="${bookhope.isbn}"></td>
                            <td th:text="${#temporals.format(bookhope.reg_time, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${bookhope.state}"></td>
                        </tr>
                        </tbody>
                    </table><br>
                </div>
                <div style="overflow-x:auto;">
                    <h1>거절된 희망도서</h1>
                    <table class="table">
                        <thead class="table-dark">
                        <tr>
                            <th>번호</th>
                            <th>책 제목</th>
                            <th>isbn</th>
                            <th>등록일시</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bookhope, loop : ${bookHopeListReject}">
                            <td th:text="${loop.count}"></td>
                            <td>
                                <a th:href="@{|/member/mypage/book/hope/reject/${bookhope.id}|}" th:text="${bookhope.name}"></a>
                            </td>
                            <td th:text="${bookhope.isbn}"></td>
                            <td th:text="${#temporals.format(bookhope.regTime, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                        </tbody>
                    </table><br>
                </div>
                <div style="overflow-x:auto;">
                    <h1>완료된 희망도서</h1>
                    <table class="table">
                        <thead class="table-dark">
                        <tr>
                            <th>번호</th>
                            <th>책 제목</th>
                            <th>isbn</th>
                            <th>등록일시</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bookhope, loop : ${bookHopeListComplete}">
                            <td th:text="${loop.count}"></td>
                            <td>
                                <a th:href="@{|/member/mypage/book/hope/complete/${bookhope.id}|}" th:text="${bookhope.name}"></a>
                            </td>
                            <td th:text="${bookhope.isbn}"></td>
                            <td th:text="${#temporals.format(bookhope.regTime, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                        </tbody>
                    </table><br>

                </div>




            </div>

        </div>
    </section>

</main><!-- End #main -->


</html>