<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>스터디룸 예약 승인완료 목록</h2>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin/mypage">관리자 페이지</a></li>
                    <li><a href="/admin/reservation/studyroom">스터디룸 예약 관리</a></li>
                    <li>스터디룸 예약 승인완료 목록</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content">

            <p th:if="${errorMessage}" th:text="*{errorMessage}" class="fieldError"></p>

            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>번호</th>
                    <th>스터디룸</th>
                    <th>예약일시</th>
                    <th>예약시간</th>
                    <th>예약인원</th>
                    <th>예약회원</th>
                    <th>신청 날짜</th>
                    <th>입실처리</th>
                    <th>예약취소</th>
                    <th>무단처리</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation, loop : ${studyRoomReservationList}">
                    <td th:text="${loop.count}"></td>
                    <th th:text="${reservation.room.name}"></th>
                    <td th:text="${#temporals.format(reservation.reservationTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                    <td th:text="${reservation.useHour}"></td>
                    <td th:text="${reservation.personCnt}"></td>
                    <td th:text="${reservation.createdBy}"></td>
                    <td th:text="${#temporals.format(reservation.regTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                    <td><a th:href="@{|/admin/reservation/studyroom/use/${reservation.id}|}" class="btn btn-primary">입실</a></td>
                    <td><a th:href="@{|/admin/reservation/studyroom/reject/${reservation.id}|}" class="btn btn-primary">예약취소</a></td>
                    <td><a th:href="@{|/admin/reservation/studyroom/noshow/${reservation.id}|}" class="btn btn-primary">무단처리</a></td>
                </tr>
                </tbody>
            </table>


        </div>
    </section>

</main><!-- End #main -->


</html>