<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>도서관 회원 이용 안내</h2>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>회원안내</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content">

            <!-- ======= Frequently Asked Questions Section ======= -->
            <section id="faq" class="faq">
                <div class="container" data-aos="fade-up">

                    <div class="section-header">
                        <span>도서관 회원 정책</span>
                        <h2>도서관 회원 정책</h2>

                    </div>

                    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-10">

                            <div class="accordion accordion-flush" id="faqlist">

                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faq-content-1">
                                            <i class="bi bi-question-circle question-icon"></i>
                                            아이디
                                        </button>
                                    </h3>
                                    <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                            <i class="bi bi-question-circle question-icon"></i>
                                            이메일로 유일해야 합니다.
                                        </div>
                                    </div>
                                </div><!-- # Faq item-->

                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faq-content-2">
                                            <i class="bi bi-question-circle question-icon"></i>
                                            도서 대출 제재
                                        </button>
                                    </h3>
                                    <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                            대출 연체 시 1권당 1일 연체 시 1일 동안 대출, 예약이 불가능합니다.
                                        </div>
                                    </div>
                                </div><!-- # Faq item-->

                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faq-content-3">
                                            <i class="bi bi-question-circle question-icon"></i>
                                            스터디룸 예약 제재
                                        </button>
                                    </h3>
                                    <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                            스터디룸 예약 후 노쇼시 한건당 7일동안 스터디룸 예약이 불가능합니다.
                                        </div>
                                    </div>
                                </div><!-- # Faq item-->

                            </div>

                        </div>
                    </div>

                </div>
            </section><!-- End Frequently Asked Questions Section -->

        </div>
    </section>


</main><!-- End #main -->


</html>