<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="script">
    <script>
        function alertLogin(){
            alert("로그인 후 이용가능합니다.");
        }
    </script>
</th:block>

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>도서 상세정보</h2>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/main/book/search">통합검색</a></li>
                    <li th:text="${book.name}"></li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content" style="text-align: center">

            <div class="row g-0">
                <div class="col-md-2" style="border: 1px solid black">
                    <img th:src="${book.bookImg.imgUrl}" alt="..."
                         class="img-fluid" width="100%" height="100px" style="object-fit: cover">
                </div>
                <div class="col-md-10" style="border: 1px solid black">
                    <div class="card-body" style="text-align: left">
                        <h5 class="card-title" th:text="${book.name}">title</h5>
                        <p th:text="${book.author}"></p>
                        <p th:text="|${book.publisher}| + '|' + |${book.year}| + '|' + |${book.symbol}|"></p>
                        <p th:text="${book.location}"></p>
                    </div>
                </div>
            </div><br>
            <div class="row g-0" style="overflow-x:auto;">
                <table class="table" style="width: 100%; border-collapse: collapse;">
                    <thead class="table-dark">
                    <tr>
                        <th>위치</th>
                        <th>대출상태</th>
                        <th>청구기호</th>
                        <th>등록번호</th>
                        <th>반납예정일</th>
                        <th>서비스신청</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${bookList}">
                        <td th:text="${book.location}"></td>
                        <td th:text="${book.state}"></td>
                        <td th:text="${book.symbol}"></td>
                        <td th:text="${book.register_numer}"></td>
                        <td th:text="${book.return_day}"></td>
                        <td>
                            <div class="card-body" style="text-align: left">
                                <div class="row">
                                    <p th:text="${book.state}"></p>
                                </div>
                                <div class="row">
                                    <button sec:authorize="isAnonymous()" onclick="alertLogin()">도서예약</button>
                                    <button sec:authorize="isAuthenticated()" th:if="${book.state.toString()=='AVAILABLE'}" disabled
                                            th:onclick="'location.href=\''+@{|/book/reservation/${book.id}|}+'\''">도서예약</button>
                                    <button sec:authorize="isAuthenticated()" th:if="${book.state.toString()!='AVAILABLE'}"
                                            th:onclick="'location.href=\''+@{|/book/reservation/${book.id}|}+'\''">도서예약</button>
                                </div>
                                <div class="row">
                                    <button sec:authorize="isAnonymous()" onclick="alertLogin()">관심도서담기</button>
                                    <button sec:authorize="isAuthenticated()"
                                            th:onclick="'location.href=\''+@{|/book/interest/${book.id}|}+'\''">관심도서담기</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><br>

            <div class="row g-0">
                <div style="text-align: left;" th:utext="${book.content}"></div>
            </div>

        </div>
    </section>

</main><!-- End #main -->


</html>