<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>공지사항 등록</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/notice">공지사항</a></li>
                    <li>공지사항</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content" style="overflow-x:auto;">

            <h5 class="my-3 border-bottom pb-2">공지사항</h5>
            <table class ="table table-bordered">
                <tbody>
                <tr>
                    <th>제목</th>
                    <td th:text="${notice.title}"></td>
                </tr>
                <tbody>
                <tr>
                    <th>작성일</th>
                    <td th:inline="text">[[${#temporals.format(notice.getRegTime(), 'yyyy-MM-dd HH:mm')}]]</td>
                </tr>
                <tr>
                    <th>조회수</th>
                    <td th:text="${notice.hit}"></td>
                </tr>
                <tr>
                    <th>본문 내용</th>
                    <td th:utext="${notice.content}"></td>
                </tr>
                </tbody>
            </table>
            <div sec:authorize="hasRole('ADMIN')">
                <a th:href="@{|/notice/edit/${notice.id}|}" class="btn btn-primary">수정하기</a>
                <a th:href="@{|/notice/delete/${notice.id}|}" class="btn btn-primary">삭제하기</a>
            </div>

        </div>
    </section>

</main><!-- End #main -->


</html>