<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>공지사항</h2>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>공지사항</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content">
            <div sec:authorize="hasRole('ADMIN')"><a th:href="@{/notice/new}" class="btn btn-primary">공지사항 등록하기</a></div>
            <div style="overflow-x:auto;" class="container my-3">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성일시</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notice, loop : ${noticeList}">
                        <td th:text="${loop.count}"></td>
                        <td>
                            <a th:href="@{|/notice/detail/${notice.id}|}" th:text="${notice.title}"></a>
                        </td>
                        <td th:text="${#temporals.format(notice.createTime, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${notice.hit}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </section>

</main><!-- End #main -->


</html>