<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>스터디룸 예약 목록</h2>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/meber/mypage">마이페이지</a></li>
                    <li>스터디룸 예약 목록</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content">
            <p th:class="fieldError" th:if="${errorMessage}" class="error" th:text="${errorMessage}"></p>
            <h1>승인 대기 목록</h1>
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>스터디룸</th>
                        <th>예약일시</th>
                        <th>예약시간</th>
                        <th>예약인원</th>
                        <th>예약회원</th>
                        <th>예약한 일시</th>
                        <th>예약취소</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation, loop : ${reservationList_wait}">
                        <td th:text="${loop.count}"></td>
                        <th th:text="${reservation.room.name}"></th>
                        <td th:text="${#temporals.format(reservation.reservationTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <td th:text="${reservation.useHour}"></td>
                        <td th:text="${reservation.personCnt}"></td>
                        <td th:text="${reservation.createdBy}"></td>
                        <td th:text="${#temporals.format(reservation.regTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <td><a th:href="@{|/member/mypage/reservation/studyroom/cancel/${reservation.id}|}" class="btn btn-primary">예약취소</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <h1>승인 거절 목록</h1>
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>스터디룸</th>
                        <th>예약일시</th>
                        <th>예약시간</th>
                        <th>예약인원</th>
                        <th>예약회원</th>
                        <th>예약한 일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation, loop : ${reservationList_reject}">
                        <td th:text="${loop.count}"></td>
                        <th th:text="${reservation.room.name}"></th>
                        <td th:text="${#temporals.format(reservation.reservationTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <td th:text="${reservation.useHour}"></td>
                        <td th:text="${reservation.personCnt}"></td>
                        <td th:text="${reservation.createdBy}"></td>
                        <td th:text="${#temporals.format(reservation.regTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <h1>승인 목록</h1>
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>스터디룸</th>
                        <th>예약일시</th>
                        <th>예약시간</th>
                        <th>예약인원</th>
                        <th>예약회원</th>
                        <th>예약한 일시</th>
                        <th>예약취소</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation, loop : ${reservationList_allow}">
                        <td th:text="${loop.count}"></td>
                        <th th:text="${reservation.room.name}"></th>
                        <td th:text="${#temporals.format(reservation.reservationTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <td th:text="${reservation.useHour}"></td>
                        <td th:text="${reservation.personCnt}"></td>
                        <td th:text="${reservation.createdBy}"></td>
                        <td th:text="${#temporals.format(reservation.regTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <td><a th:href="@{|/member/mypage/reservation/studyroom/cancel/${reservation.id}|}" class="btn btn-primary">예약취소</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <h1>현재 이용중인 예약 목록</h1>
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>스터디룸</th>
                        <th>예약일시</th>
                        <th>예약시간</th>
                        <th>예약인원</th>
                        <th>예약회원</th>
                        <th>예약한 일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation, loop : ${reservationList_use}">
                        <td th:text="${loop.count}"></td>
                        <th th:text="${reservation.room.name}"></th>
                        <td th:text="${#temporals.format(reservation.reservationTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <td th:text="${reservation.useHour}"></td>
                        <td th:text="${reservation.personCnt}"></td>
                        <td th:text="${reservation.createdBy}"></td>
                        <td th:text="${#temporals.format(reservation.regTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>



            <h1>완료 목록</h1>
            <div style="overflow-x:auto;">
                <table class="table" style="width: 100%; border-collapse: collapse;">
                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>스터디룸</th>
                        <th>예약일시</th>
                        <th>예약시간</th>
                        <th>예약인원</th>
                        <th>예약회원</th>
                        <th>예약한 일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation, loop : ${reservationList_complete}">
                        <td th:text="${loop.count}"></td>
                        <th th:text="${reservation.room.name}"></th>
                        <td th:text="${#temporals.format(reservation.reservationTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <td th:text="${reservation.useHour}"></td>
                        <td th:text="${reservation.personCnt}"></td>
                        <td th:text="${reservation.createdBy}"></td>
                        <td th:text="${#temporals.format(reservation.regTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <h1>예약 취소 목록</h1>
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>스터디룸</th>
                        <th>예약일시</th>
                        <th>예약시간</th>
                        <th>예약인원</th>
                        <th>예약회원</th>
                        <th>예약한 일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation, loop : ${reservationList_cancel}">
                        <td th:text="${loop.count}"></td>
                        <th th:text="${reservation.room.name}"></th>
                        <td th:text="${#temporals.format(reservation.reservationTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <td th:text="${reservation.useHour}"></td>
                        <td th:text="${reservation.personCnt}"></td>
                        <td th:text="${reservation.createdBy}"></td>
                        <td th:text="${#temporals.format(reservation.regTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <h1>NOSHOW 목록</h1>
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>스터디룸</th>
                        <th>예약일시</th>
                        <th>예약시간</th>
                        <th>예약인원</th>
                        <th>예약회원</th>
                        <th>예약한 일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation, loop : ${reservationList_noshow}">
                        <td th:text="${loop.count}"></td>
                        <th th:text="${reservation.room.name}"></th>
                        <td th:text="${#temporals.format(reservation.reservationTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <td th:text="${reservation.useHour}"></td>
                        <td th:text="${reservation.personCnt}"></td>
                        <td th:text="${reservation.createdBy}"></td>
                        <td th:text="${#temporals.format(reservation.regTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>

</main><!-- End #main -->


</html>