<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>예약도서</h2>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/member/mypage">마이페이지</a></li>
                    <li>예약도서</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content" style="text-align: center">


            <div class="card mb-3" style="width: 100%" th:each="book : ${bookReservationList}">
                <div class="row g-0">
                    <div class="col-md-2" style="border: 1px solid black">
                        <img th:src="${book.book.bookImg.imgUrl}" class="img-fluid rounded-start" alt="..."
                             height="100%" width="100%" style="object-fit: cover">
                    </div>
                    <div class="col-md-5" style="border: 1px solid black">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${book.book.name}">title</h5>
                            <p th:text="${book.book.author}"></p>
                            <p th:text="|${book.book.publisher}| + '|' + |${book.book.year}| + '|' + |${book.book.symbol}|"></p>
                            <p th:text="${book.book.location}"></p>
                        </div>
                    </div>
                    <div class="col-md-1" style="border: 1px solid black;">
                        <p th:text="${book.book.state}"></p>
                    </div>
                    <div class="col-md-2" style="border: 1px solid black">
                        <p th:text="${book.resTime}"></p>
                    </div>
                    <div class="col-md-2" style="border: 1px solid black">
                        <button th:onclick="'location.href=\''+@{|/book/reservation/delete/${book.id}|}+'\''">예약 취소</button>
                    </div>
                </div>
            </div>

        </div>
    </section>


</main><!-- End #main -->


</html>