<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>대출 중 도서</h2>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/member/mypage">마이페이지</a></li>
                    <li>대출 중 도서</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content">
            <p th:class="fieldError" th:if="${errorMessage}" class="error" th:text="${errorMessage}"></p>
            <div class="card mb-3" style="width: 100%" th:each="loan : ${loanList}">
                <div class="row g-0">
                    <div class="col-md-2" style="border: 1px solid black">
                        <img th:src="${loan.bookVo.bookImgVo.imgUrl}" class="img-fluid rounded-start" alt="..."
                             height="100%" width="100%" style="object-fit: cover">
                    </div>
                    <div class="col-md-6" style="border: 1px solid black">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${loan.bookVo.name}">title</h5>
                            <p th:text="${#temporals.format(loan.start_loan_time, 'yyyy-MM-dd')}"></p>
                            <p th:text="${loan.remain_day}"></p>
                        </div>
                    </div>
                    <div class="col-md-2" style="border: 1px solid black;">
                        <p th:text="${loan.loan_state}"></p>
                    </div>
                    <div class="col-md-2" style="border: 1px solid black">
                        <button th:if="${loan.overdue_day}==0 and ${loan.use_extension_cnt}==0"
                                th:onclick="'location.href=\''+@{|/member/mypage/delay/${loan.loan_id}|}+'\''">반납연기
                        </button>
                        <button th:unless="${loan.overdue_day}==0 and ${loan.use_extension_cnt}==0" disabled
                                th:onclick="'location.href=\''+@{|/member/mypage/delay/${loan.loan_id}|}+'\''">반납연기
                        </button>
                    </div>
                </div>
            </div>



        </div>
    </section>

</main><!-- End #main -->


</html>