<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>대출 이력</h2>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/meber/mypage">마이페이지</a></li>
                    <li>대출 이력</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="content">

            <h1>대출 이력 목록</h1>
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>책이름</th>
                        <th>대출일자</th>
                        <th>반납일자</th>
                        <th>반납연장횟수</th>
                        <th>연체일수</th>
                        <th>상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="loan, loop : ${loanList}">
                        <td th:text="${loop.count}"></td>
                        <th th:text="${loan.book.name}"></th>
                        <td th:text="${#temporals.format(loan.startLoanTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <td th:text="${#temporals.format(loan.returnTime, 'yyyy년 MM월 dd일 HH:mm')}"></td>
                        <th th:text="${loan.useExtensionCnt}"></th>
                        <th th:text="${loan.overdueDay}"></th>
                        <th th:text="${loan.loanState}"></th>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>

</main><!-- End #main -->


</html>