<th:block th:fragment="footerFragment">
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="" class="logo d-flex align-items-center">
                    <span>스프링 도서관</span>
                </a>
                <p>스프링 도서관 홈페이지에서는 도서 예약, 도서 신청, 도서 배달 서비스 신청 등을 할 수 있습니다.</p>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="#">도서관 위치</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Services</h4>
                <ul>
                    <li><a href="/main/book/search">통합자료 검색</a></li>
                    <li><a href="/main/book/search">도서 예약</a></li>
                    <li><a href="/book/hope/register">희망도서 신청</a></li>
                    <li><a href="#">택배 서비스</a></li>
                    <li><a href="/notice">공지사항</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    korea <br>

                    <strong>Phone:</strong> 010 4786 2803<br>
                    <strong>Email:</strong> hr2803@naver.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>library</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->
</th:block>