<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment">
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>스프링 도서관</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="" class="active">Home</a></li>
                <li class="dropdown"><a href="#"><span>자료검색</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">통합자료검색</a></li>
                        <li><a href="#">추천도서</a></li>
                        <li><a href="#">희망도서신청</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>이용안내</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="/main/time">이용시간/휴관일</a></li>
                        <li><a href="/main/member">회원안내</a></li>
                        <li><a href="/main/book">자료이용안내</a></li>
                        <li><a href="/main/delivery">택배대출서비스</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>도서관소식</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="/main/location">도서관 위치</a></li>
                    </ul>
                </li>

                <li sec:authorize="isAnonymous()"><a class="get-a-quote" href="/member/login">로그인</a></li>
                <li sec:authorize="isAnonymous()"><a class="get-a-quote" href="/member/signup">회원가입</a></li>

                <li sec:authorize="isAuthenticated()"><a class="get-a-quote" href="/member/logout">로그아웃</a></li>
                <li sec:authorize="isAuthenticated()"><a class="get-a-quote" href="/member/mypage">마이페이지</a></li>

            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- End Header -->
</th:block>
</html>