<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Spring Library</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/spring.png" rel="icon">
    <link href="/img/spring.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <style type="text/css">
        .fieldError {
            color: #bd2130;
        }
        .tblBackground {
            /*
             *  화면에 보여야 할 Table의 가로크기를 잡아줍니다.
             */
            width: 100%;
            table-layout: fixed;
        }

        .divHeadScroll {
            /*
             *  안의 내용이 790보다 길게 적용이 되므로 overflow-x, overflow-y를 hidden을 걸어줘서 설정한 가로너비만큼만 화면에 보이도록 잡아줍니다.
             */
            width: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
            border-top: 2px solid #d0d0d0;
        }

        .tblHead {
            /*
             *  Table의 필드명의 너비를 여기에서 지정합니다.
             *  필드명을 보여줄 테이블은 body보다 하나의 td를 더 가지며 마지막 td는 아무것도 입력하지 않고 크기만 잡아줍니다.
             *  이렇게 하는 이유는 데이터를 보여주는 테이블은 세로 스크롤의 가로두께만큼 더 이동하기 때문입니다.
             */
            table-layout: fixed;
            background-color: #efefef;
            padding-top: 4px;
            width: 1117px;
            height: 30px;
            border-collapse: collapse;
        }

        .divBodyScroll {
            /*
             *  overflow-x, overflow-y는 scroll로 지정하고,
             *  height는 테이블의 데이터가 나올 기본 크기를 잡아줍니다.
             *  세로길이를 잡아주지 않으면 overflow-y가 걸리지 않습니다.
             */
            width: 100%;
            height: 350px;
            overflow-x: scroll;
            overflow-y: scroll;
            border-top: 1px solid #d0d0d0;
        }

        .tblBody {
            /*
             * tblBody의 데이터는 필요한 열의 수만큼만 만드시고 헤더와 col의 width는 동일해야 합니다.
             */
            width: 1100px;
            table-layout: fixed;
            height: 30px;
            border-collapse: collapse;
        }

        /* 테이블 스타일용 */
        .title {
            text-align: center;
            font-weight: bold;
        }

        .content {
            border-bottom: 1px solid #efefef;
            padding: 10px 10px 10px 10px;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

        }
    </style>
</head>
<script>
    function search_book(mid) {
        var inputkeyword = document.getElementById("keyword").value;
        console.log(inputkeyword);
        var bookList = [];
        $.ajax({
            url: '/api/book/search/base',
            type: "post",
            data: {keyword: inputkeyword},
            dataType: "json",
            success: function (data) {
                console.log(data.books);
                var str_html = '<colgroup>\n' +
                    '<col style="width:50px;" class="right_border"/>\n' +
                    '<col style="width:400px;" class="right_border"/>\n' +
                    '<col style="width:200px;" class="right_border"/>\n' +
                    '<col style="width:100px;" class="right_border"/>\n' +
                    '<col style="width:100px;" class="right_border"/>\n' +
                    '<col style="width:100px;" class="right_border"/>\n' +
                    '<col style="width:100px;" class="right_border"/>\n' +
                    '<col style="width:100px;" class="right_border"/>\n' +
                    '<col style="width:100px;" class="right_border"/>\n' +
                    '<col style="width:100px;" class="right_border"/>\n' +
                    '<col style="width:100px;" class="right_border"/>\n' +
                    '</colgroup>';
                for (var i = 0; i < data.books.length; i++) {
                    var str_temp = '<tr>';

                    var str_col1 = '<td class="content right_border">{}</td>'
                    str_col1 = str_col1.replace('{}', data.books[i].id);
                    str_temp = str_temp + str_col1;

                    var str_col2 = '<td class="content right_border">{}</td>'
                    str_col2 = str_col2.replace('{}', data.books[i].name);
                    str_temp = str_temp + str_col2;

                    var str_col3 = '<td class="content right_border">{}</td>'
                    str_col3 = str_col3.replace('{}', data.books[i].isbn);
                    str_temp = str_temp + str_col3;

                    var str_col4 = '<td class="content right_border">{}</td>'
                    str_col4 = str_col4.replace('{}', data.books[i].author);
                    str_temp = str_temp + str_col4;

                    var str_col5 = '<td class="content right_border">{}</td>'
                    str_col5 = str_col5.replace('{}', data.books[i].publisher);
                    str_temp = str_temp + str_col5;

                    var str_col6 = '<td class="content right_border">{}</td>'
                    str_col6 = str_col6.replace('{}', data.books[i].register_numer);
                    str_temp = str_temp + str_col6;

                    var str_col7 = '<td class="content right_border">{}</td>'
                    str_col7 = str_col7.replace('{}', data.books[i].symbol);
                    str_temp = str_temp + str_col7;

                    var str_col8 = '<td class ="content right_border">{}</td>'
                    str_col8 = str_col8.replace('{}', data.books[i].state);
                    str_temp = str_temp + str_col8;

                    if(data.books[i].state == 'AVAILABLE'){
                        var str_col9 = '<td class ="content right_border"><button onclick="location.href=\'/admin/book/loan/{}/[]\'">대출대기</button></td>'
                        str_col9 = str_col9.replace('{}', mid);
                        str_col9 = str_col9.replace('[]', data.books[i].id);
                        str_temp = str_temp + str_col9;
                    }
                    else{
                        var str_col9 = '<td class ="content right_border"><button disabled>대출대기</button></td>'
                        str_col9 = str_col9.replace('{}', mid);
                        str_col9 = str_col9.replace('[]', data.books[i].id);
                        str_temp = str_temp + str_col9;
                    }

                    str_temp = str_temp + '</tr>';

                    str_html = str_html + str_temp;
                }
                console.log(str_html);
                $('#searchList').html(str_html);
            }
        });
    }
</script>
<body>


<th:block th:replace="fragments/header :: headerFragment"></th:block>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>대출</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin/mypage">관리자 페이지</a></li>
                    <li><a href="/admin/book/loan">멤버 리스트</a></li>
                    <li>대출</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="container" data-aos="fade-up">

            <p class="h2">
                멤버 상세 정보
            </p>

            <div class="input-group mb-3">
                <span class="input-group-text">아이디(이메일)</span>
                <input type="text" th:field="*{member.email}" class="form-control" readonly>
                <span class="input-group-text">이름</span>
                <input type="text" th:field="*{member.name}" class="form-control" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">전화번호</span>
                <input type="text" th:field="*{member.tel}" class="form-control" readonly>
                <span class="input-group-text">주소</span>
                <input type="text" th:field="*{member.address}" class="form-control" readonly>
                <span class="input-group-text">가입일자</span>
                <input type="text" th:field="*{member.regTime}" class="form-control" readonly>
            </div>

            <p th:class="fieldError" th:if="${errorMessage}" class="error" th:text="${errorMessage}"></p>
            <br><br>

            <div class="row">
                <div class="col-sm" style="width: 100%">
                    <div class="row">
                        <h2 style="display:inline">대출 현황</h2>
                    </div>
                    <div style="overflow-x:auto;" class="row">
                        <table class="tblBackground" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="divHeadScroll">
                                        <table class="tblHead" border="0">
                                            <colgroup>
                                                <col style="width:50px;"/>
                                                <col style="width:400px;"/>
                                                <col style="width:200px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:50px;"/>
                                                <col style="width:50px;"/>
                                            </colgroup>
                                            <tr>
                                                <td class="title">ID</td>
                                                <td class="title">책제목</td>
                                                <td class="title">ISBN</td>
                                                <td class="title">저자</td>
                                                <td class="title">출판사</td>
                                                <td class="title">등록번호</td>
                                                <td class="title">청구기호</td>
                                                <td class="title">상태</td>
                                                <td class="title">반납</td>
                                                <td class="title">분실</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="divBodyScroll">
                                        <table class="tblBody" border="0">
                                            <colgroup>
                                                <col style="width:50px;" class="right_border"/>
                                                <col style="width:400px;" class="right_border"/>
                                                <col style="width:200px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                            </colgroup>
                                            <tr th:each="loan : ${loanList}">
                                                <td class="content right_border" th:text="${loan.id}"></td>
                                                <td class="content right_border" th:text="${loan.book.name}"></td>
                                                <td class="content right_border" th:text="${loan.book.isbn}"></td>
                                                <td class="content right_border" th:text="${loan.book.author}"></td>
                                                <td class="content right_border" th:text="${loan.book.publisher}"></td>
                                                <td class="content right_border" th:text="${loan.book.register_numer}"></td>
                                                <td class="content right_border" th:text="${loan.book.symbol}"></td>
                                                <td class="content right_border" th:text="${loan.book.state}"></td>
                                                <td class="content right_border">
                                                    <button><a th:href="@{|/admin/book/loan/return/${loan.id}|}">반납</a></button>
                                                </td>
                                                <td class="content right_border">
                                                    <button><a th:href="@{|/admin/book/loan/loss/${loan.id}|}">분실</a></button>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <br><br>
            <div class="row">
                <div class="col-sm" style="width: 100%">
                    <div class="row">
                        <h2 style="display:inline">대출 대기</h2>
                        <a style="display:inline" th:href="@{|/admin/book/loan/${member.id}|}" class="btn btn-primary">대출하기</a>
                    </div>
                    <div class="row" style="overflow-x:auto;">
                        <table class="tblBackground" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="divHeadScroll">
                                        <table class="tblHead" border="0">
                                            <colgroup>
                                                <col style="width:50px;"/>
                                                <col style="width:400px;"/>
                                                <col style="width:200px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:17px;"/>
                                            </colgroup>
                                            <tr>
                                                <td class="title">ID</td>
                                                <td class="title">책제목</td>
                                                <td class="title">ISBN</td>
                                                <td class="title">저자</td>
                                                <td class="title">출판사</td>
                                                <td class="title">등록번호</td>
                                                <td class="title">청구기호</td>
                                                <td class="title">상태</td>
                                                <td class="title">대기취소</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="divBodyScroll">
                                        <table class="tblBody" border="0">
                                            <colgroup>
                                                <col style="width:50px;" class="right_border"/>
                                                <col style="width:400px;" class="right_border"/>
                                                <col style="width:200px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                                <col style="width:100px;" class="right_border"/>
                                            </colgroup>
                                            <tr th:each="wait : ${loanWaitList}">
                                                <td class="content right_border" th:text="${wait.book.id}"></td>
                                                <td class="content right_border" th:text="${wait.book.name}"></td>
                                                <td class="content right_border" th:text="${wait.book.isbn}"></td>
                                                <td class="content right_border" th:text="${wait.book.author}"></td>
                                                <td class="content right_border" th:text="${wait.book.publisher}"></td>
                                                <td class="content right_border" th:text="${wait.book.register_numer}"></td>
                                                <td class="content right_border" th:text="${wait.book.symbol}"></td>
                                                <td class="content right_border" th:text="${wait.book.state}"></td>
                                                <td class="content right_border">
                                                    <button><a th:href="@{|/admin/book/loan/delete/${member.id}/${wait.id}|}">대기취소</a></button>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <br><br>
            <div class="row">
                <div class="col-sm" style="width: 100%">
                    <div class="row">
                        <div>
                            <h2 style="display: inline">도서 검색</h2>
                            <div>
                                <input id="keyword" type="text" placeholder="검색어를 입력해주세요.">
                                <button th:mid="${member.id}"
                                        th:onclick="search_book(this.getAttribute('mid'))">검색
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="row" style="overflow-x:auto;">
                        <table class="tblBackground" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="divHeadScroll">
                                        <table class="tblHead" border="0">
                                            <colgroup>
                                                <col style="width:50px;"/>
                                                <col style="width:400px;"/>
                                                <col style="width:200px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:100px;"/>
                                                <col style="width:17px;"/>
                                            </colgroup>
                                            <tr>
                                                <td class="title">ID</td>
                                                <td class="title">책제목</td>
                                                <td class="title">ISBN</td>
                                                <td class="title">저자</td>
                                                <td class="title">출판사</td>
                                                <td class="title">등록번호</td>
                                                <td class="title">청구기호</td>
                                                <td class="title">상태</td>
                                                <td class="title">대출대기</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="divBodyScroll">
                                        <table class="tblBody" id="searchList" border="0">


                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>
