<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header1.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>대출</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin/mypage">관리자 페이지</a></li>
                    <li>멤버 리스트</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="container" data-aos="fade-up">
            <form action="/admin/book/loan" method="GET">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input name="keyword" type="text" placeholder="사용자 이메일">
                    <button class="btn btn-secondary">검색</button>
                </div>
            </form><br>
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th>아이디(이메일)</th>
                        <th>이름</th>
                        <th>가입날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="member, loop : ${memberList}">
                        <td th:text="${loop.count}"></td>
                        <td>
                            <a th:href="@{|/admin/member/${member.id}|}" th:text="${member.email}"></a>
                        </td>
                        <td th:text="${member.name}"></td>
                        <td th:text="${#temporals.format(member.regTime, 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination justify-content-center">
                <a th:if="${hasPrev}" th:href="@{/admin/book/loan(page = ${previous})}" role="button" class="btn btn-lg bi bi-caret-left-square-fill"></a>
                <a th:if="!${hasPrev}" th:href="@{/admin/book/loan(page = ${previous})}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>
                <a th:if="${hasNext}" th:href="@{/admin/book/loan(page = ${next})}" role="button" class="btn btn-lg bi bi-caret-right-square-fill"></a>
                <a th:if="!${hasNext}" th:href="@{/admin/book/loan(page = ${next})}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
            </div>
        </div>
    </section>

</main><!-- End #main -->


</html>